body{
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 30px;
  height: 3px;
  width: 95%;
  background-color: #3e065f;
}

.sections-title{
  text-align: center;
  color:#3e065f;
}

.entire-page-header{
  display: flex;
  padding: 15px;
  padding-left: 50px;
  background-color: #700b97;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.enterprise-logo{
  color: #fff;
}

.search-product{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx.bx-search{
  color: #fff;
  font-size: 30px;
}

.search-product-input{
  width: 500px;
  height: 50px;
  color: #fff;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.search-product-input::placeholder{
  color: #fff;
}

.page-links-list{
  display: flex;
}

.page-link{
  color: #fff;
  list-style: none;
  margin-right: 20px;
}

.page-link:hover{
  cursor: pointer;
}

.carrousel-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrousel-body{
  width: 90%;
  height: 30pc;
  border: 4px dashed#3e065f;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.carrousel-image{
  width: 100%;
  height: 100%;
  border-radius: 26px;
}

.carrousel-slide{
  height: 30px;
  width: 30px;
  border-radius: 100px;
  color: #fff;
  background-color: #3e065f;
  border: none;
}

.carrousel-slide:hover{
  cursor: pointer;
}

.products-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card-body{
  border: 4px dashed #3e065f;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-name{
  text-align: center;
  color: #700b97;
}

.product-image-center{
  display: flex;
  justify-content: center;
}

.product-image-border{
  justify-content: center;
  border: 4px dashed #3e065f;
  border-radius: 20px;
  width: 260px;
  padding: 10px;
}

.product-image{
  width: 250px;
  border: 3px dotted #3e065f;
  border-radius: 20px;
}

.product-info{
  display: flex;
  text-align: center;
  flex-direction: column;
}

.product-unity{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.unities-on-cart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

.one-unity{
  border: none;
  background-color: #700b97;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.one-unity:hover{
  cursor: pointer;
  background-color: #550874;
}


.about-section{
  
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-title{
  color: #700b97;
}

.about-text{
  text-align: center;
}

.new-product{
  margin: 10px;
  border: none;
  border-radius: 10px;
  width: 230px;
  height: 40px;
  font-size: 20px;
  background-color: #550874;
  color: #fff;
  font-weight: bold;
}

.crud-section{
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
}

.crud-table{
  border-collapse: collapse;
  border: 3px solid #3e065f;
}

.crud-table-head{
  padding: 8px;
  text-align: center;
  background-color: #700b97;
  color: white;
}

.crud-table-head.name{
  width: 500px;
}

.crud-table-head.price{
  width: 75px;
}

.crud-table-head.units{
  width: 100px;
}

.crud-table-head.image{
  width: 250px;
}

.crud-table-head.actions{
  text-align: center;
  width: 120px;
}

.crud-table-data{
  padding: 10px;
}

.crud-table-data.center{
  text-align: center;
}

.crud-table-data-actions{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.edit-product{
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #e6bf12;
  font-size: 20px;
  color: #fff;
}

.delete-product{
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: #ac0f0f;
  font-size: 20px;
  color: #fff;
}

.edit-product:hover , .delete-product:hover{
  cursor: pointer;
}

.page-footer{
  background-color: #3e065f;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-links-foot{
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.page-link-foot{
  color: #fff;
  margin-bottom: 15px;
  list-style: none;
}

.page-link-foot:hover{

  cursor: pointer;
}

.rights-reserved{
  color: #fff;
  text-align: center;
}