.product-card-body{
  border: 4px dashed #3e065f;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 5px;
  margin: 10px;
  width: 460px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-name{
  text-align: center;
  color: #700b97;
}

.product-image-border{
  justify-content: center;
  border: 4px dashed #3e065f;
  border-radius: 20px;
  width: 260px;
  padding: 10px;
}

.product-image{
  width: 250px;
  border: 3px dotted #3e065f;
  border-radius: 20px;
}

.product-info{
  display: flex;
  flex-direction: column;
}

.product-unity{
 
}

.one-unity{
  border: none;
  background-color: #700b97;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.one-unity:hover{
  cursor: pointer;
  background-color: #550874;
}

.products-section{
  display: flex;
}